@import "~bootstrap/scss/bootstrap";

body {
  background-color: slategray;
  font-family: 'Roboto', sans-serif;
  color: black;
}

#title {
  margin-top: 60px;
  text-align: center;
}

#city {
  text-align: center;
}

.subheader {
  margin-top: 100px;
  text-align: center;
}

#skills {
  margin: 100px;
}
